input {
    height: 45px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#141923, #141923) padding-box, linear-gradient(to right, #7b72cc, #dc0078, #3871d6) border-box;
    border: 2px solid transparent;
    color: #fff;
}

.module {
    /* max-width: 550px; */
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #7B72CC, #DC0078, #3871D6);
    padding: 1px;
    border-radius: 80px;
    cursor: pointer;
    margin: 30px;
    width: 143px;
    margin-right: auto;
    margin-left: auto;
}

img {
    background: #000000;
    border-radius: 80px;
    color: white;
    padding: 1rem;
    width: 140px;
    height: 150px;

}



.box {
    background: #000000;
    border-radius: 20px;
    color: white;
    padding: 2rem;
    width: 748px;
}

input::placeholder {
    color: white;
}


.module {
    position: relative;
    animation: rotate 2s infinite;
}




@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

mat-icon {
    cursor: pointer;
    right: 2rem;
    top: 0.40rem;
    position: relative;
}