<div class="alert alert-success alert-dismissible" role="alert" *ngIf="showAlert">
    {{code}} Code copied on clipboard !
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
</div>
<div class="container text-center">
    <div class="container">
        <input matInput readonly placeholder="{{code}}">
        <mat-icon matSuffix (click)="copyCode()">share</mat-icon>

    </div>
    <br><br>
    <div class="box">
        <div class="module">
            <img [src]="selectedImage" alt="Selected Image">
        </div>
    </div>

</div>